<div class="card m-0 p-0" >
      <div  
           class="container ditail-info-container mb-0">
          <h5 class="mt-3">ONLINE GAMING INDUSTRY</h5>
          <p>
             In the past decade, the world of online gaming has expanded massively. 
             The industry was worth $41.78bn by the end of 2016 and that’s set to hit the $80bn mark by the end of 2020.
              Just to put it in perspective, 11% of total internet traffic now comes from online casino players.
          </p>
      </div>
    <div  
         class="card-body m-0 p-0"
                
         (click)="onClick()">
      <div  class="container">

        <div class="row">
         <div class="col ">
           <div class="logo logo-container">
               <div class="row">
               <div class="col logo-image-col">
                 <img src="../../assets/airplane.png" class="card-img-logo" alt="Logo">
               </div>                 
               </div>   
             <div class="row logo-text mt-3">
               <h4>TRAVEL INDUSTRY</h4>
             </div>  
           </div>                
             <div class="row arrow-button" >
                <div class="col logo-image-col">
                    <img src="../../assets/arrow.png" class="card-img-logo" alt="Logo">
                  </div> 
             </div> 
         </div>
      
      <div class="col m-0 p-0" >
          <img src="../../assets/image-travel.png" class="card-img-top" alt="Image">
      </div>
      </div>
    
    
    
    </div>

  </div>
     
  </div>