
.navbar{
    font-family: 'Montserrat', sans-serif !important;
    background: #fff !important;
    padding-top: 15px;
    padding-bottom: 15px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}
a{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 13 !important;
}
button{
    font-family: 'Montserrat', sans-serif !important;
    border: 0 !important;
    font-size: 13 !important;
    border-radius: 20px; 
    color: #525151;
    display: block;
    height: 32px;
    text-decoration: none;
    font-size: 13px;
    
}

button:hover{
    background-color: #63CAA9;
}
.navigation__contact{
    height: 100%;
    vertical-align: middle;
    font-weight: 700;
    color: #525151 !important;
}
.navigation__contact_icon-phone{

  color:  #63caa9;
}
.navigation__contact a{

    font-family: 'Montserrat', sans-serif !important;
    color: #525151 !important; 
    text-decoration: none;
}
