<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top p-0">

  <div class="container nav-outside-container">

    <!-- Logo -->
    <div>
      <a href="#" class="navbar-brand">
        <img class="navigation__logo" src="../../assets/logo-neto.png" alt="NetoPayment">
      </a>
    </div>


    <!-- Link Menu -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <button class="btn btn-outline-light" type="button">About Us</button>
          <button class="btn btn-outline-light" type="button">Industries</button>
          <button class="btn btn-outline-light" type="button">Payment Methods</button>
          <button class="btn btn-outline-light" type="button">Features</button>
          <button class="btn btn-outline-light" type="button">Contact Us</button>
        </form>
      </nav>
    </div>

    <!-- Phone -->
    <div class="navigation__contact d-flex">

      <div class="phone-icon-div">
        <i class="material-icons navigation__contact_icon-phone">
          phone
        </i>
      </div>

      <div class="phone-number-div">
        <a href="tel:972722159030" class="navigation__contact_number">
          +(972)722-159-030
        </a>
      </div>

    </div>
  </div>
</nav>