<div class="container-fluid p-0 m-0">
  <div class="offer-main-container">
      <div class="offer">

        <div class="container">
          <h1 class="offer__title">
            Enterprise Payment Solution Gateway	
          </h1>
          <p class="offer__title_add">
            One seamlessly API gateway with over 100 payment methods
          </p>
            <button type="button" 
                  class="btn btn-primary">
                     join now
            </button>
        </div>

        
      </div>
  </div>

  <div class="who-is-netopayment">

            <div class="who-is-netopayment-image"></div>

            <div class="who-is-netopayment-text">
              <h2 class="who-is-netopayment-text_title">
                 WHO IS NETOPAYMENT
              </h2>
              <div class="who-is-netopayment-text-content">
                 NetoPayment has been in the payment business for years and are well versed with typical issues merchants face on a daily basis. Merchants are continuously looking for better protection against fraud, seeking ways to limit chargebacks or provide payment options beyond credit cards.
       
                 Technological advancements and growing e-commerce bring great opportunities for everyone. Unfortunately, new types of fraud, tighter compliance requirements and lack of infrastructure challenge leveraging online businesses.
                 
                 Our mission at NetoPayment is to create better ways to transfer money digitally and our experienced team can help you to navigate complex payment problems, ensure utmost security and compliance as well as deliver solutions that best fit your needs.
                 
              </div>
            </div>
            
  </div>
</div>