<div class="container-fluid">
  <div class="title mb-4 mt-5 ml-3 pl-0">
    <h3 class="p-0 m-0">
      INDUSTRIES NETOPAYMENT SERIVES
    </h3>
  </div>
  <div class="container-fluid cart-container">
      <div class="row">
    <div class="col d-flex justify-content-center card-col">
       <app-card></app-card>
    </div>
    <div class="col d-flex justify-content-center card-col">
        <app-card></app-card>
     </div>
     <div class="col  d-flex justify-content-center card-col">
        <app-card></app-card>
     </div>
     <div class="col d-flex justify-content-center card-col">
        <app-card></app-card>
     </div>
     <div class="col  d-flex justify-content-center card-col">
        <app-card></app-card>
     </div>
     <div class="col  d-flex justify-content-center card-col">
        <app-card></app-card>
     </div>
     <div class="col  d-flex justify-content-center card-col">
        <app-card></app-card>
     </div>
     <div class="col  d-flex justify-content-center card-col">
        <app-card></app-card>
     </div>
     <div class="col  d-flex justify-content-center card-col">
        <app-card></app-card>
     </div>
  </div>
  </div>
</div>
<app-footer></app-footer>
<div class="mt-5 mb-5">
  <app-send-form></app-send-form>
</div>
